.app {
  overflow: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

.app__showMore {
  text-align: center;
  margin: 60px 0;
}

.app__showMore > button {
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #002bad;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s ease;
}

.app__showMore > button:hover {
  color: #002bad;
  background-color: lightgray;
}
